<ion-header>
  <ion-toolbar>
    <ion-title class="tituloToolbar"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button>Atrás</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<h1 class="tituloSuperior">ARQUITECTURA</h1>

<div class="container-table">
  <div class="tabla__titulo">Fecha</div>
  <div class="tabla__titulo">Estado</div>
  <div class="tabla__titulo">Observaciones</div>
  <div class="tabla__item">06-09-2022</div>
  <div class="tabla__item">Presente</div>
  <div class="tabla__item">Sin comentarios</div>
  <div class="tabla__item">06-09-2022</div>
  <div class="tabla__item">Presente</div>
  <div class="tabla__item">Sin comentarios</div>
  <div class="tabla__item">06-09-2022</div>
  <div class="tabla__item">Presente</div>
  <div class="tabla__item">Sin comentarios</div>
  <div class="tabla__item">06-09-2022</div>
  <div class="tabla__item">Presente</div>
  <div class="tabla__item">Sin comentarios</div>
  <div class="tabla__item">06-09-2022</div>
  <div class="tabla__item">Presente</div>
  <div class="tabla__item">Sin comentarios</div>
  <div class="tabla__item">06-09-2022</div>
  <div class="tabla__item">Presente</div>
  <div class="tabla__item">Sin comentarios</div>


</div>

</ion-content>
