@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Paleta de colores
$global_1: #042e54;
$global_2: #efb115;
$global_3: #cdd5dc;
$global_4: #666666;
$global_5: #D50032;
$blanco: #ffffff;
$negro: #000000;


* {
  font-family: 'Rubik', sans-serif;
}

.toolbar{
  background-color: $global_1;
}

.tituloSuperior {
  text-align: center;
  font-size: 1.3rem;
  color: $blanco;
}



.container{
    margin: 0 10px 0 10px;
 /*     background-color: white; 
     border: 2px solid blanchedalmond; */
    
}

.logo-login{
    margin: 50px 10px 20px 10px;
}
// .input{
//     display: block;
//     border: 2px #636363 solid ;
//     border-radius: 5px;
//   }


.btn {
    background-color: $global_2;
    display: block;
    color: $blanco;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 20px;
    border-radius: 5px;
}


.btn:hover{
    cursor: pointer;
    background-color: $global_1;
    transition: 0.1s ease;
}


.recover{
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    color: $negro;
}

.recover:hover{
    color: $global_2;
}