@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Paleta de colores
$global_1: #00AD7C;
$global_2: #52D681;
$global_3: #B5FF7D;
$global_4: #FFF8B5;
$global_5: #30dc74;
$blanco: #ffffff;
$negro: #000000;


*{
  font-family: 'Rubik', sans-serif;
}

// .tituloSuperior{
//   text-align: center;
// }

.container{
    margin: 50% 10px 0 10px;
    // background-color: white; 
    // border: 2px solid blanchedalmond;
    
}
// .input{
//     display: block;
//     border: 2px #636363 solid ;
//     border-radius: 5px;
//   }


.btn {
    background-color: $global_5;
    display: block;
    color: $negro;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 20px;
    border-radius: 5px;
}


.btn:hover{
    cursor: pointer;
    background-color: $global_2;
    transition: 0.1s ease;
}


.recover{
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    color: $blanco;
}

.recover:hover{
    color: $global_3;
}