@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Paleta de colores
$global_1: #00AD7C;
$global_2: #52D681;
$global_3: #B5FF7D;
$global_4: #FFF8B5;
$global_5: #30dc74;
$blanco: #ffffff;
$negro: #000000;


* {
  font-family: 'Rubik', sans-serif;
}

.tituloSuperior {
  text-align: center;
  font-size: 1.3rem;
}


// ANIMACION
.fondo {
  padding: 20px 10px;

}

.asistencia{
  margin: 30px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
}

td{
  padding: 10px;
}

.input {
  border: 2px #636363 solid;
  border-radius: 5px;
}

.input__button {
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
  justify-content: center;
  // padding: 20px 0px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.logo {
  width: 50%;
  margin: auto;
  margin-top: 6rem;
  display: block;
}

.card:hover,
.titulo__modal:hover,
.avatar:hover {
  cursor: pointer;
  color: $global_5 ;
}


.button-container{ 
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.button-qr, .button-asignaturas{
  background-color: #52D681;
  width: 200px;
  border-radius: 5px;
  color: $blanco;
}

.load-content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner, .mensaje, .mensaje-scaneo{
  text-align: center;
  justify-content: center;
  display: flex;
}

.darkmode{
  display: flex;
  justify-content: center;
}

.titulo{
  display: inline-flex;
}
.menu{
  width: 25px;
}

.mensaje-scaneo{
  text-align: center;
  margin-top: -200px;
  margin-bottom: 30px;
}