<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Portal
    </ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button>Atrás</ion-back-button>
    </ion-buttons> -->
    <button class="menu" mat-button [matMenuTriggerFor]="menu"><img src="/assets/menu.png" alt=""></button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item>Mi Perfil</button>
    <button mat-menu-item>Notificaciones</button>
    <button mat-menu-item>Certificados</button>
    <button mat-menu-item (click)="exit()">Cerrar Sesion</button>
    </mat-menu>
  </ion-toolbar>
</ion-header>


<ion-content>
    <div class="button-container">
      <div class="example-button-container">
        <button mat-raised-button id="open-modal-qr" color="primary" class="button-qr" aria-label="Add">
          <strong> Escanear QR  </strong>
        </button>
    </div>
    </div>
    <div class="button-container">
      <div class="example-button-container">
        <button mat-raised-button id="open-modal" color="primary" class="button-asignaturas">
          <strong> Ver Asignaturas  </strong>
        </button>
    </div>
    </div>
</ion-content>

<!-- ANIMACION -->
<div class="img">
  <img class="logo" src="/assets/duoc.png" alt="logo">
</div>


<ion-content>
  <ion-modal #modal trigger="open-modal-qr" [presentingElement]="presentingElement">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Escanear QR</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <!-- CONTENIDO QR -->
          <div class="load-content">
            <div class="container">
            <div class="mensaje">
              <p><strong>Abriendo cámara...</strong></p>
            </div>
            <div class="spinner">
              <mat-spinner></mat-spinner>
            </div>
          </div>
          </div>
        </ion-content>
      </ng-template>
  </ion-modal>
</ion-content>

<ion-content class="ion-padding">
  <!-- <ion-button id="open-modal" expand="block" color="success">Ver Asignaturas</ion-button> -->

  <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Asignaturas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item class="card">
            <ion-avatar class="avatar" slot="start">
              <ion-img src="/assets/avatar.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2  class="titulo__modal">PROGRAMACION DE APPS</h2>
              <p class="nombre__modal">Fernando Sepulveda</p>
            </ion-label>
          </ion-item>  <!-- CARD -->

          <ion-item class="card">
            <ion-avatar class="avatar" slot="start">
              <ion-img src="/assets/avatar.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2  class="titulo__modal">ARQUITECTURA</h2>
              <p class="nombre__modal">Ivan Bilbao</p>
            </ion-label>
          </ion-item> <!-- CARD -->

          <ion-item class="card">
            <ion-avatar class="avatar" slot="start">
              <ion-img src="/assets/avatar.png"></ion-img>

            </ion-avatar>
            <ion-label>
              <h2  class="titulo__modal">CALIDAD DE SOFTWARE</h2>
              <p class="nombre__modal">Carlos Quintanilla</p>
            </ion-label>
          </ion-item>  <!-- CARD -->


          <ion-item class="card">
            <ion-avatar class="avatar" slot="start">
              <ion-img src="/assets/avatar.png"></ion-img>

            </ion-avatar>
            <ion-label>
              <h2  class="titulo__modal">INGLÉS</h2>
              <p class="nombre__modal">Pía Valenzuela</p>
            </ion-label>
          </ion-item>  <!-- CARD -->

          <ion-item class="card">
            <ion-avatar class="avatar" slot="start">
              <ion-img src="/assets/avatar.png"></ion-img>

            </ion-avatar>
            <ion-label>
              <h2  class="titulo__modal">ESTADISTICA DESCRIPTIVA</h2>
              <p class="nombre__modal">Camila Prieto</p>
            </ion-label>
          </ion-item>  <!-- CARD -->

          <ion-item class="card">
            <ion-avatar class="avatar" slot="start">
              <ion-img src="/assets/avatar.png"></ion-img>

            </ion-avatar>
            <ion-label>
              <h2  class="titulo__modal">ÉTICA</h2>
              <p class="nombre__modal">Karen Sepulveda</p>
            </ion-label>
          </ion-item>  <!-- CARD -->

          <ion-item class="card">
            <ion-avatar class="avatar" slot="start">
              <ion-img src="/assets/avatar.png"></ion-img>

            </ion-avatar>
            <ion-label>
              <h2 class="titulo__modal">PORTAFOLIO</h2>
              <p class="nombre__modal">Alexandra Hernandez</p>
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div class="darkmode">
    <mat-slide-toggle>DARKMODE</mat-slide-toggle>
  </div>

</ion-content>

